---
title: Climate Change and Food Insecurity 
author: Hannah Kim
format: 
    html:
        embed-resources: true
---

In [231]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

## Load the data

In [232]:
raw_df = pd.read_csv('./data/FAOSTAT_data.csv')
raw_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21010,Average dietary energy supply adequacy (percen...,20002002,2000-2002,%,88,E,Estimated value,NaN
1,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21010,Average dietary energy supply adequacy (percen...,20012003,2001-2003,%,89,E,Estimated value,NaN
2,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21010,Average dietary energy supply adequacy (percen...,20022004,2002-2004,%,92,E,Estimated value,NaN
3,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21010,Average dietary energy supply adequacy (percen...,20032005,2003-2005,%,93,E,Estimated value,NaN
4,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,21010,Average dietary energy supply adequacy (percen...,20042006,2004-2006,%,94,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139523,FS,Suite of Food Security Indicators,716,Zimbabwe,6123,Value,21061,Average fat supply (g/cap/day) (3-year average),20142016,2014-2016,g/pc/d,69.9,E,Estimated value,NaN
139524,FS,Suite of Food Security Indicators,716,Zimbabwe,6123,Value,21061,Average fat supply (g/cap/day) (3-year average),20152017,2015-2017,g/pc/d,68.6,E,Estimated value,NaN
139525,FS,Suite of Food Security Indicators,716,Zimbabwe,6123,Value,21061,Average fat supply (g/cap/day) (3-year average),20162018,2016-2018,g/pc/d,66.9,E,Estimated value,NaN
139526,FS,Suite of Food Security Indicators,716,Zimbabwe,6123,Value,21061,Average fat supply (g/cap/day) (3-year average),20172019,2017-2019,g/pc/d,63.6,E,Estimated value,NaN
139527,FS,Suite of Food Security Indicators,716,Zimbabwe,6123,Value,21061,Average fat supply (g/cap/day) (3-year average),20182020,2018-2020,g/pc/d,63.3,E,Estimated value,NaN

Food insecurity:

* Prevalence of severe food insecurity in the total population (percent): 210401 (M/F)
* Prevalence of moderate or severe food insecurity in the total population (percent): 210091 (M/F)
* Number of severely food insecure people (million): 210071 (M/F)
* Number of moderately or severely food insecure people (million): 210081 (M/F)

## Further cleaning and preprocessing

In [233]:
raw_df.columns = raw_df.columns.str.lower()
raw_df.columns = raw_df.columns.str.replace(' ', '_')
# change the area column to country column
raw_df = raw_df.rename(columns={'area': 'country'})

In [234]:
# filter out the data by item code
# prevalence of severe food insecurity in the total population
prev_severe_total = raw_df[raw_df['item_code'] == '210401'] 
prev_severe_male = raw_df[raw_df['item_code'] == '210401M']
prev_sever_female = raw_df[raw_df['item_code'] == '210401F']

# prevalence of moderate or severe food insecurity in the total population
prev_mod_total = raw_df[raw_df['item_code'] == '210091']
prev_mod_male = raw_df[raw_df['item_code'] == '210091M']
prev_mod_female = raw_df[raw_df['item_code'] == '210091F']

In [235]:
prev_severe_total.head()

,domain_code,domain,area_code_(m49),country,element_code,element,item_code,item,year_code,year,unit,value,flag,flag_description,note
140,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,210401,Prevalence of severe food insecurity in the to...,20142016,2014-2016,%,14.8,A,Official figure,FAO data
141,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,210401,Prevalence of severe food insecurity in the to...,20152017,2015-2017,%,15.1,A,Official figure,FAO data
142,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,210401,Prevalence of severe food insecurity in the to...,20162018,2016-2018,%,17.3,A,Official figure,FAO data
143,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,210401,Prevalence of severe food insecurity in the to...,20172019,2017-2019,%,17.3,A,Official figure,Official estimate
144,FS,Suite of Food Security Indicators,4,Afghanistan,6121,Value,210401,Prevalence of severe food insecurity in the to...,20182020,2018-2020,%,19.8,A,Official figure,Official estimate

In [236]:
print(prev_severe_total['area_code_(m49)'].unique())

[  4   8  12  16  20  24  28  32  51  36  40  31  44  48  50  52 112  56
  84 204  60  64  68  70  72  76  96 100 854 108 132 116 120 124 140 148
 152 159 344 446 156 158 170 174 178 184 188 384 191 192 196 203 408 180
 208 262 212 214 218 818 222 226 232 233 748 231 242 246 250 258 266 270
 268 276 288 300 304 308 320 324 624 328 332 340 348 352 356 360 364 368
 372 376 380 388 392 400 398 404 296 414 417 418 428 422 426 430 434 440
 442 450 454 458 462 466 470 584 478 480 484 583 496 499 504 508 104 516
 520 524 528 540 554 558 562 566 570 807 578 512 586 585 275 591 598 600
 604 608 616 620 630 634 410 498 642 643 646 659 662 670 882 678 682 686
 688 690 694 702 703 705  90 706 710 728 724 144 729 740 752 756 760 762
 764 626 768 772 776 780 788 792 795 798 800 804 784 826 834 840 858 860
 548 862 704 887 894 716]

In [237]:
# read the data
code_df = pd.read_csv('./data/country_annotation.csv')

# drop unnecessary columns
code_df = code_df.drop(columns=['code', 'languages'])

# rename the columns
code_df = code_df.rename(columns={'name':'country'})

code_df.head()

              country      continent
0       United States  North America
1  Dominican Republic   North Americ
2              Canada  North America
3            Honduras  North America
4          Costa Rica  North America

In [238]:
# copy the dataframe
df = prev_severe_total.copy()
# change the value column type to numeric value
df['value'] = pd.to_numeric(df['value'], errors='coerce')

In [239]:
# group by the country and get the sum of all the values
df = df.groupby('country', as_index=False)['value'].sum().reset_index(drop=True)
df

                                country  value
0                           Afghanistan  135.3
1                               Albania   65.5
2                               Algeria   65.1
3                        American Samoa    0.0
4                               Andorra    0.0
..                                  ...    ...
199  Venezuela (Bolivarian Republic of)    0.0
200                            Viet Nam    2.3
201                               Yemen   80.4
202                              Zambia  189.4
203                            Zimbabwe  234.3

[204 rows x 2 columns]

In [240]:
# merge the region data with the main data
df = pd.merge(df, code_df, on='country', how='left')

In [241]:
df

                                country  value continent
0                           Afghanistan  135.3      Asia
1                               Albania   65.5    Europe
2                               Algeria   65.1    Africa
3                        American Samoa    0.0   Oceania
4                               Andorra    0.0    Europe
..                                  ...    ...       ...
199  Venezuela (Bolivarian Republic of)    0.0       NaN
200                            Viet Nam    2.3       NaN
201                               Yemen   80.4      Asia
202                              Zambia  189.4    Africa
203                            Zimbabwe  234.3    Africa

[204 rows x 3 columns]

In [242]:
# drop the rows with value 0
df = df[df['value'] != 0].reset_index(drop=True)
df

                 country  value continent
0            Afghanistan  135.3      Asia
1                Albania   65.5    Europe
2                Algeria   65.1    Africa
3                 Angola  133.5    Africa
4    Antigua and Barbuda   14.2       NaN
..                   ...    ...       ...
141              Vanuatu    9.6   Oceania
142             Viet Nam    2.3       NaN
143                Yemen   80.4      Asia
144               Zambia  189.4    Africa
145             Zimbabwe  234.3    Africa

[146 rows x 3 columns]

In [243]:
# dictionary mapping each country to its continent
country_to_continent = {
    'Antigua and Barbuda': 'North America',
    'Bahamas': 'North America',
    'Barbados': 'North America',
    'Belize': 'North America',
    'Cabo Verde': 'Africa',
    'Congo': 'Africa',
    'Czechia': 'Europe',
    'CÃ´te d\'Ivoire': 'Africa',
    'Eswatini': 'Africa',
    'Grenada': 'North America',
    'Haiti': 'North America',
    'Iran (Islamic Republic of)': 'Asia',
    'Jamaica': 'North America',
    'Lao People\'s Democratic Republic': 'Asia',
    'Myanmar': 'Asia',
    'Netherlands (Kingdom of the)': 'Europe',
    'Republic of Korea': 'Asia',
    'Republic of Moldova': 'Europe',
    'Russian Federation': 'Europe',
    'Saint Kitts and Nevis': 'North America',
    'Saint Lucia': 'North America',
    'Saint Vincent and the Grenadines': 'North America',
    'Sao Tome and Principe': 'Africa',
    'Trinidad and Tobago': 'North America',
    'United Kingdom of Great Britain and Northern Ireland': 'Europe',
    'United Republic of Tanzania': 'Africa',
    'United States of America': 'North America',
    'Viet Nam': 'Asia'
}

# map the country to the continent
df['continent'] = df['continent'].fillna(df['country'].map(country_to_continent))

df

                 country  value      continent
0            Afghanistan  135.3           Asia
1                Albania   65.5         Europe
2                Algeria   65.1         Africa
3                 Angola  133.5         Africa
4    Antigua and Barbuda   14.2  North America
..                   ...    ...            ...
141              Vanuatu    9.6        Oceania
142             Viet Nam    2.3           Asia
143                Yemen   80.4           Asia
144               Zambia  189.4         Africa
145             Zimbabwe  234.3         Africa

[146 rows x 3 columns]

In [244]:
# data sanity check
# check the continent value
df.continent.unique()

# replace the incorrect value
df['continent'] = df['continent'].str.replace('North Americ', 'North America')
df['continent'] = df['continent'].str.replace('North Americaa', 'North America')

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [246]:
df

                 country  value      continent
0            Afghanistan  135.3           Asia
1                Albania   65.5         Europe
2                Algeria   65.1         Africa
3                 Angola  133.5         Africa
4    Antigua and Barbuda   14.2  North America
..                   ...    ...            ...
141              Vanuatu    9.6        Oceania
142             Viet Nam    2.3           Asia
143                Yemen   80.4           Asia
144               Zambia  189.4         Africa
145             Zimbabwe  234.3         Africa

[146 rows x 3 columns]

## Data Visualiztion: Prevalence of severe food insecurity in the total population

### Nested pie chart

In [248]:
# plot a nested pie chart using plotly
fig = px.sunburst(df, path=['continent', 'country'], values='value', title='Prevalence of severe food insecurity in the total population',
                  color_discrete_sequence=px.colors.qualitative.Set3)
fig.show()

---

In [135]:
cleaned_df = pd.read_csv('./data/CleanedData/foodinsecuritybygender.csv', encoding='ISO-8859-1')
cleaned_df.head()

   Unnamed: 0     Area  Region YearPeriod AVG_PercentFemale AVG_PercentMale
0           1  Albania  Europe  Y20002002               NaN             NaN
1           2  Albania  Europe  Y20012003               NaN             NaN
2           3  Albania  Europe  Y20022004               NaN             NaN
3           4  Albania  Europe  Y20032005               NaN             NaN
4           5  Albania  Europe  Y20042006               NaN             NaN

In [136]:
# group by area and region column
grouped_df = cleaned_df.groupby(['Area', 'Region'], as_index=False).first()

grouped_df.drop(columns=['Unnamed: 0', 'YearPeriod', 'AVG_PercentFemale', 'AVG_PercentMale'], inplace=True)
grouped_df

                                                 Area  Region
0                                             Albania  Europe
1                                             Algeria  Africa
2                                             Andorra  Europe
3                                              Angola  Africa
4                                             Austria  Europe
..                                                ...     ...
89                                            Ukraine  Europe
90  United Kingdom of Great Britain and Northern I...  Europe
91                        United Republic of Tanzania  Africa
92                                             Zambia  Africa
93                                           Zimbabwe  Africa

[94 rows x 2 columns]

In [137]:
# lowercase the column names
grouped_df.columns = grouped_df.columns.str.lower()
# change the area column to country
grouped_df = grouped_df.rename(columns={'area': 'country'})

# merge the grouped df and prev_sever_total
merged_df = pd.merge(prev_severe_total,grouped_df, left_on='country', right_on='country')

merged_df

,domain_code,domain,area_code_(m49),country,element_code,element,item_code,item,year_code,year,unit,value,flag,flag_description,note,region
0,FS,Suite of Food Security Indicators,8,Albania,6121,Value,210401,Prevalence of severe food insecurity in the to...,20142016,2014-2016,%,10,A,Official figure,FAO data,Europe
1,FS,Suite of Food Security Indicators,8,Albania,6121,Value,210401,Prevalence of severe food insecurity in the to...,20152017,2015-2017,%,10.5,A,Official figure,FAO data,Europe
2,FS,Suite of Food Security Indicators,8,Albania,6121,Value,210401,Prevalence of severe food insecurity in the to...,20162018,2016-2018,%,11,A,Official figure,FAO data,Europe
3,FS,Suite of Food Security Indicators,8,Albania,6121,Value,210401,Prevalence of severe food insecurity in the to...,20172019,2017-2019,%,10,A,Official figure,FAO data,Europe
4,FS,Suite of Food Security Indicators,8,Albania,6121,Value,210401,Prevalence of severe food insecurity in the to...,20182020,2018-2020,%,8.8,A,Official figure,FAO data,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
653,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,210401,Prevalence of severe food insecurity in the to...,20162018,2016-2018,%,35.9,A,Official figure,FAO data,Africa
654,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,210401,Prevalence of severe food insecurity in the to...,20172019,2017-2019,%,34.2,A,Official figure,FAO data,Africa
655,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,210401,Prevalence of severe food insecurity in the to...,20182020,2018-2020,%,32.1,A,Official figure,FAO data,Africa
656,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,210401,Prevalence of severe food insecurity in the to...,20192021,2019-2021,%,31.3,A,Official figure,FAO data,Africa
657,FS,Suite of Food Security Indicators,716,Zimbabwe,6121,Value,210401,Prevalence of severe food insecurity in the to...,20202022,2020-2022,%,28.6,A,Official figure,FAO data,Africa

In [138]:
print(merged_df['region'].unique())

['Europe' 'Africa']