---
title: Climate Change and Food Insecurity 
author: Hannah Kim
format: 
    html:
        embed-resources: true
---

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

## Load the data

In [4]:
df = pd.read_csv('data/CleanedData/foodinsecuritybygender.csv', encoding='ISO-8859-1')
df

,Unnamed: 0,Area,Region,YearPeriod,AVG_PercentFemale,AVG_PercentMale
0,1,Albania,Europe,Y20002002,NaN,NaN
1,2,Albania,Europe,Y20012003,NaN,NaN
2,3,Albania,Europe,Y20022004,NaN,NaN
3,4,Albania,Europe,Y20032005,NaN,NaN
4,5,Albania,Europe,Y20042006,NaN,NaN
...,...,...,...,...,...,...
1969,1970,Zimbabwe,Africa,Y20162018,37.1,37.1
1970,1971,Zimbabwe,Africa,Y20172019,35.8,35.8
1971,1972,Zimbabwe,Africa,Y20182020,33.7,33.7
1972,1973,Zimbabwe,Africa,Y20192021,33.1,33.1
1973,1974,Zimbabwe,Africa,Y20202022,30.2,30.2

## Further cleaning and preprocessing

In [5]:
# lowercase the columns and remove the space bar
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df = df.rename(columns={'unnamed:_0': 'ID', 'yearperiod': 'year_period', 'avg_percentfemale':'avg_percent_female', 'avg_percentmale':'avg_percent_male'})
df.head()

   ID     area  region year_period avg_percent_female avg_percent_male
0   1  Albania  Europe   Y20002002                NaN              NaN
1   2  Albania  Europe   Y20012003                NaN              NaN
2   3  Albania  Europe   Y20022004                NaN              NaN
3   4  Albania  Europe   Y20032005                NaN              NaN
4   5  Albania  Europe   Y20042006                NaN              NaN

In [6]:
# only see certain columns
df1 = df[['ID', 'area', 'region', 'avg_percent_female', 'avg_percent_male']]
# convert the object values to numeric values
df1[['avg_percent_female', 'avg_percent_male']] = df1[['avg_percent_female', 'avg_percent_male']].apply(pd.to_numeric, errors='coerce')
df1

/var/folders/27/cc8xpbnj4vgc0f2m9xmmtc_r0000gn/T/ipykernel_45541/1477351743.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[['avg_percent_female', 'avg_percent_male']] = df1[['avg_percent_female', 'avg_percent_male']].apply(pd.to_numeric, errors='coerce')

        ID      area  region  avg_percent_female  avg_percent_male
0        1   Albania  Europe                 NaN               NaN
1        2   Albania  Europe                 NaN               NaN
2        3   Albania  Europe                 NaN               NaN
3        4   Albania  Europe                 NaN               NaN
4        5   Albania  Europe                 NaN               NaN
...    ...       ...     ...                 ...               ...
1969  1970  Zimbabwe  Africa                37.1              37.1
1970  1971  Zimbabwe  Africa                35.8              35.8
1971  1972  Zimbabwe  Africa                33.7              33.7
1972  1973  Zimbabwe  Africa                33.1              33.1
1973  1974  Zimbabwe  Africa                30.2              30.2

[1974 rows x 5 columns]

In [ ]:
# group by area and region and get the average of the percentage of food insecurity and ignore the NaN values
df2 = df1.groupby(['area', 'region'], as_index=False).mean()
df2.head()